@define-color color-bar-bg                              #282828;
@define-color color-bar-fg                              #ebdbb2;
@define-color color-bar-underline                       #1d2021;
@define-color color-bg                                  #282828;
@define-color color-fg                                  #ebdbb2;
@define-color color-button-bg                           #83a598;
@define-color color-button-fg                           #282828;
@define-color color-button-urgent-bg                    #fb4934;
@define-color color-button-urgent-fg                    #282828;
@define-color color-workspace-button-bg                 #504945;
@define-color color-workspace-button-fg                 #ebdbb2;
@define-color color-workspace-button-hover-bg           #665c54;
@define-color color-workspace-button-hover-fg           #ebdbb2;
@define-color color-workspace-button-focused-bg         #83a598;
@define-color color-workspace-button-focused-fg         #282828;
@define-color color-widget-audio-bg                     #fabd2f;
@define-color color-widget-audio-fg                     #282828;
@define-color color-widget-audio-hover-bg               #fabd2f;
@define-color color-widget-audio-hover-fg               #282828;
@define-color color-widget-audio-muted-bg               #fabd2f;
@define-color color-widget-audio-muted-fg               #282828;
@define-color color-widget-clock-bg                     #d5c4a1;
@define-color color-widget-clock-fg                     #282828;
@define-color color-widget-battery-bg                   #b8bb26;
@define-color color-widget-battery-fg                   #282828;
@define-color color-widget-battery-low-bg               #fb4934;
@define-color color-widget-battery-low-fg               #282828;
@define-color color-widget-battery-low-blink-bg         #fb4934;
@define-color color-widget-battery-low-blink-fg         #282828;
@define-color color-widget-backlight-bg                 #d3869b;
@define-color color-widget-backlight-fg                 #282828;
@define-color color-widget-cpu-bg                       #d5c4a1;
@define-color color-widget-cpu-fg                       #282828;
@define-color color-widget-power-profile-balanced-bg    #d3869b;
@define-color color-widget-power-profile-balanced-fg    #282828;
@define-color color-widget-power-profile-performance-bg #fe8019;
@define-color color-widget-power-profile-performance-fg #282828;
@define-color color-widget-power-profile-saver-bg       #b8bb26;
@define-color color-widget-power-profile-saver-fg       #282828;
@define-color color-widget-tray-bg                      #504945;
@define-color color-widget-tray-needs-attention         #fb4934;
@define-color color-widget-idle-inhibitor-off-bg        #504945;
@define-color color-widget-idle-inhibitor-off-fg        #a89984;
@define-color color-widget-idle-inhibitor-on-bg         #d5c4a1;
@define-color color-widget-idle-inhibitor-on-fg         #282828;
@define-color color-widget-notifications-bg             #83a598;
@define-color color-widget-notifications-fg             #282828;
@define-color color-widget-power-bg                     #83a598;
@define-color color-widget-power-fg                     #282828;
@define-color color-tooltip-bg                          #282828;
@define-color color-tooltip-fg                          #ebdbb2;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

window#waybar {
    background-color: @color-bar-bg;
    color: @color-bar-fg;
    border-bottom: 2px solid @color-bar-underline;
}

window#waybar > * {
    margin-top: 2px;
    margin-bottom: 3px; 
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    background-color: @color-button-bg;
}

button:hover {
    background: inherit;
}

#pulseaudio:hover {
    background-color: @color-widget-audio-hover-bg;
    color: @color-widget-audio-hover-fg;
}

#workspaces {
    padding-left: 0;
    margin: 10;
}

#workspaces button {
    padding: 0;
    min-height: 0px;
    min-width: 26px;
    margin-left: 3px;
    background-color: @color-workspace-button-bg;
    color: @color-workspace-button-fg;
}

#workspaces button:hover {
    background-color: @color-workspace-button-hover-bg;
    color: @color-workspace-button-hover-fg;
}

#workspaces button.active {
    background-color: @color-workspace-button-focused-bg;
    color: @color-workspace-button-focused-fg;
}

#workspaces button:not(.active):not(.empty) {
    background-color: @color-workspace-button-bg;
    color: @color-widget-battery-bg;
}

#workspaces button.urgent {
    background-color: @color-button-urgent-bg;
    color: @color-button-urgent-fg;
}

#clock,
#battery,
#cpu,
#backlight,
#network,
#pulseaudio,
#mpris,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#custom-notifications,
#custom-power {
    padding: 0 7px;
}

#window,
#workspaces {
    margin: 0 3px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-notifications {
    background-color: @color-widget-notifications-bg;
    color: @color-widget-notifications-fg;
    font-size: 14px;
    padding-right: 10px;
}

#custom-power {
    background-color: @color-widget-power-bg;
    color: @color-widget-power-fg;
    font-size: 14px;
    padding-right: 10px;
}

#clock {
    background-color: @color-widget-clock-bg;
    color: @color-widget-clock-fg;
}

#battery {
    background-color: @color-widget-battery-bg;
    color: @color-widget-battery-fg;
}

#battery.charging, #battery.plugged {
    background-color: @color-widget-battery-bg;
    color: @color-widget-battery-fg;
}

#battery.charging {
    padding-right: 8px;
}

@keyframes blink-battery-low {
    to {
        background-color: @color-widget-battery-low-blink-bg;
        color: @color-widget-battery-low-blink-fg;
    }
}

#battery:not(.charging) {
    padding-right: 14px;
}

#battery.critical:not(.charging) {
    background-color: @color-widget-battery-low-bg;
    color: @color-widget-battery-low-fg;
    animation-name: blink-battery-low;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 11px;
}

#power-profiles-daemon.performance {
    background-color: @color-widget-power-profile-performance-bg;
    color: @color-widget-power-profile-performance-fg;
    padding-right: 8px;
}

#power-profiles-daemon.balanced {
    background-color: @color-widget-power-profile-balanced-bg;
    color: @color-widget-power-profile-balanced-fg;
    padding-right: 14px;
}

#power-profiles-daemon.power-saver {
    background-color: @color-widget-power-profile-saver-bg;
    color: @color-widget-power-profile-saver-fg;
    padding-right: 11px;
}

label:focus {
    background-color: #ff0000;
}

#cpu {
    background-color: @color-widget-cpu-bg;
    color: @color-widget-cpu-fg;
    padding-right: 11px;
}

#backlight {
    background-color: @color-widget-backlight-bg;
    color: @color-widget-backlight-fg;
}

#network {
    background-color: #83a598;
    color: #282828;
}

#network.disconnected {
    background-color: #fb4934;
    color: #282828;
}

#pulseaudio {
    background-color: @color-widget-audio-bg;
    color: @color-widget-audio-fg;
}

#pulseaudio.muted {
    background-color: @color-widget-audio-muted-bg;
    color: @color-widget-audio-muted-fg;
}

#tray {
    background-color: @color-widget-tray-bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color-widget-tray-needs-attention;
}

#idle_inhibitor {
    background-color: @color-widget-idle-inhibitor-off-bg;
    color: @color-widget-idle-inhibitor-off-fg;
    padding-right: 13px;
}

#idle_inhibitor.activated {
    background-color: @color-widget-idle-inhibitor-on-bg;
    color: @color-widget-idle-inhibitor-on-fg;
}

tooltip {
  background-color: @color-tooltip-bg;
  border: none;
  border-radius: 5px;
}

tooltip decoration {
  box-shadow: none;
}

tooltip decoration:backdrop {
  box-shadow: none;
}

tooltip label {
  color: @color-tooltip-fg;
  padding-left: 4px;
  padding-right: 4px;
}